
 :root{
    --teal: #ff0000; 
    --teal_hover: #cc0000;
}

*{
    font-family: "Poppins", sans-serif;
}

.h-font{
    font-family: "Merienda", cursive;
}


#dashboard-menu {
    position: fixed;
    top: 56px; 
    height: calc(100vh - 56px);
    z-index: 1020; 
    width: 250px; 
}

.sticky-top {
    z-index: 1030;
    position: sticky;
    top: 0;
    width: 100%;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
}

.custom-bg {
    background-color: var(--teal); 
    border: 1px solid var(--teal);
}

.custom-bg:hover {
    background-color:var(--teal_hover); 
    border-color: var(--teal);
}

.h-line {
    width: 150px;
    margin: 0 auto;
    height: 1.7px;
}

.availability-form {
    margin-top: -50px;
    z-index: 2;
    position: relative;
}

@media screen and (max-width: 575px) {
    .availability-form {
        margin-top: 0px;
        padding: 35px;
    }
}

.row {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}

.custom-alert {
    position: fixed;
    top: 80px;
    right: 25px;
}

#dashboard-menu{
    position: fixed;
    height: 100%;
    z-index: 11;

}


@media screen and (max-width: 991px) {
    #dasboard-menu{
        height: auto;
        width: 100%;
       
    }

    #main-content{
        margin: 60px;
    }
}

.btn-blue {
    background-color: #007bff; /* Blue color */
    color: white;
}

.btn-blue:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.btn-gray {
    background-color: #6c757d; /* Gray color */
    color: white;
}

.btn-gray:hover {
    background-color: #5a6268; /* Darker gray on hover */
}

